/*Tablet mode 768*/
.recipe-name>h2 span,
.banner,
.socials b {
    display: none;
}

@media screen and (min-width: 769px) {
    .topbar {
        justify-content: flex-start;
    }

    .recipe-name h2 {
        font-size: 33px;
    }

    .recipe-name>h2 span {
        display: inline-block;
    }

    .container {
        padding: 140px 50px 30px 50px;
    }

    .recipe-summary ul {
        display: flex;
        flex-wrap: wrap;
    }

    .recipe-summary li {
        flex-basis: calc(100% / 3);
    }

    .socials a {
        padding: 10px 30px;
    }

    .banner {
        display: block;
    }

    .presentation img {
        float: left;
        padding-right: 10px;
    }

    .recipe-video {
        height: 380px;
    }
}

/*Desktop 992*/

@media screen and (min-width: 993px) {
    .recipe-name h2 {
        font-size: 40px;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-info {
        flex-basis: 40%;
    }

    .recipe-summary ul {
        display: block;
    }

    .recipe-video {
        height: 430px;
    }

    .socials b {
        display: inline-block;
        color: black;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer .society {
        text-align: left;
    }
}