/*Tablet mode 768*/
.recipe-name>h2 span {
    display: none;
}

@media screen and (min-width: 769px) {
    .topbar {
        justify-content: flex-start;
    }

    .recipe-name h2 {
        font-size: 33px;
    }

    .recipe-name>h2 span {
        display: inline-block;
    }

    .container {
        padding: 140px 50px 30px 50px;
    }

    .recipe-summary ul {
        display: flex;
        flex-wrap: wrap;
    }

    .recipe-summary li {
        flex-basis: calc(100% / 3);
    }
}